body {
  background-color: #123;
  padding: 20px;
}

.board {
  width: 100vh;
  max-width: 100vw;
  display: grid;
  grid-gap: 10px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: #357;
  border-radius: 5px;
  height: calc(100vw / 4);
  max-height: calc(100vw / 8);
} 